#---------- 我自己的snippets ----------# 
snippet box "Create a Box"                                                          
    \begin{center}
        \framebox[5cm][c]{
            \large
                ${1:Box Content}
        }   
    \end{center}


